# 复制此文件为 .env 并填写真实信息
LIBRARY_USERNAME=your student number
LIBRARY_PASSWORD=your password

# 座位配置
DEFAULT_ROOM_ID=111488386
DEFAULT_SEAT_NAME=3FA-011

# 浏览器模式（Linux 部署建议 true）
HEADLESS=true

#推送加（pushplus）
PUSHPLUS_TOKEN=your tokens